page-login {
  %bottom-line{
    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      content: "";
      width: 100%;
      height: 1px;
      border-top: 1px solid #fff;
      transform: scaleY(.5);
      transform-origin: 0 0;
    }
  }
  .login-wrap{
    background: url("../../assets/imgs/loginbg.png") no-repeat center center;
    background-size: 100% 100%;
  }
  .g-login-main {
    padding: 4rem;

    .login-hd {
      color: #fff;
      padding: 6rem 0 4.4rem;
    }

    .login-title {
      font-size: 3rem;
      letter-spacing: 2px;
      margin: 0 0 1.4rem;
      padding: 0;
    }

    .login-welcome {
      font-size: 1.8rem;
      font-weight: normal;
      margin: 0;
    }
  }
  .login-form{
    margin-bottom: 3.5rem;
  }
  .login-row{
    position: relative;
    padding: 1.4rem 0;
    margin-bottom: 1.5rem;
    @extend %bottom-line;
    input{
      width: 100%;
      color: #fff;
      font-size: 1.6rem;
      display: block;
      background: transparent;
      border: 0;
    }
  }
  input::-webkit-input-placeholder{
    color: #fff;
    font-size: 1.6rem;
  }

  input:-moz-placeholder {
    color: #fff;
    font-size: 1.6rem;
  }

  input::-moz-placeholder{
    color: #fff;
    font-size: 1.6rem;
  }

  input:-ms-input-placeholder {
    color: #fff;
    font-size: 1.6rem;
  }
  .login-button{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    color: #137FFE;
    font-size: 1.6rem;
    text-align: center;
    display: block;
    margin: 0 auto 2rem;
    border-radius: 2rem;
    background: #fff;
  }
}
