page-login {
  %bottom-line{
    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      content: "";
      width: 100%;
      height: 1px;
      border-top: 1px solid #3C73FD;
      transform: scaleY(.5);
      transform-origin: 0 0;
    }
  }
  .login-wrap{
    .scroll-content{
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    }
  }
  .g-login-bottom{
    flex-shrink: 0;
    margin-top: auto;
    width: 100%;
    height: 8.7rem;
    background:#fff url("../../assets/imgs/log_hd.png") no-repeat top center;
    background-size: 100% 100%;
  }
  .g-login-main {
    padding: 0 2.5rem;
  }
  .login-hd {
    width: 100%;
    height: 30.3rem;
    color: #fff;
    padding: 0 2.5rem;
    box-sizing: border-box;
    background:#fff url("../../assets/imgs/log_bottom.png") no-repeat top center;
    background-size: 100% 100%;
  }

  .login-title {
    font-size: 2.3rem;
    letter-spacing: 2px;
    margin: 0 0 1.4rem;
    padding: 7rem 0 0;
  }

  .login-welcome {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
  }
  .login-form{
    margin-bottom: 7.8rem;
  }
  .login-row{
    position: relative;
    height: 4.6rem;
    line-height: 4.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    @extend %bottom-line;
    input{
      width: 100%;
      height: 4.6rem;
      line-height: 4.6rem;
      color: #333;
      font-size: 1.5rem;
      display: block;
      background: transparent;
      border: 0;
    }
  }
  input::-webkit-input-placeholder{
    color: #CDCDCD;
    font-size: 1.5rem;
  }

  input:-moz-placeholder {
    color: #CDCDCD;
    font-size: 1.5rem;
  }

  input::-moz-placeholder{
    color: #CDCDCD;
    font-size: 1.5rem;
  }

  input:-ms-input-placeholder {
    color: #CDCDCD;
    font-size: 1.5rem;
  }
  .log-input{
    flex: 1;
  }
  .login-button{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0 auto 2rem;
    border-radius: 2rem;
    background: linear-gradient(to right,#6A97FE,#3C73FD);
    box-shadow: 0 0 .6rem rgba(48,115,248,.6);
  }
  .log-form-icon{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1.2rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    flex-shrink: 0;
    &.account-icon{
      background-image: url("../../assets/imgs/account.png");
    }
    &.lock-icon{
      background-image: url("../../assets/imgs/lock.png");
    }
  }
}
