<!--
  Generated template for the HiddenDangerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>隐患整改</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="g-flex-main">
    <div class="g-flex-box">
      <div class="c-form-box">
        <h4 class="c-form-title"><span>问题</span></h4>
        <section class="c-form-inner has-fold">
          <!--          展开 +active-->
          <div class="c-form-list active">
            <div class="list-item item-hd">
              <span class="item-label">企业名称</span>
              <div class="item-info">
                <div class="item-txt">
                  <input
                    type="text"
                    placeholder="请输入企业名称"
                    [(ngModel)]="danger.enterpriseName"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="list-item">
              <span class="item-label">问题表现</span>
              <div class="item-info">
                <div class="item-txt">
                  <input
                    type="text"
                    placeholder="请输入问题表现"
                    [(ngModel)]="danger.dangerDesc"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="list-item">
              <span class="item-label">隐患内容</span>
              <div class="item-info">
                <div class="item-txt">
                  <input
                    type="text"
                    placeholder="请输入隐患内容"
                    [(ngModel)]="danger.rectifyStandard"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="list-item">
              <span class="item-label">隐患等级</span>
              <div class="item-info">
                <div class="item-txt c-grey-9">{{danger.problemLevelLabel}}</div>
                <i class="u-arrow-right"></i>
              </div>
            </div>
            <!-- <div class="list-item upload-pic">
              <ng-container *ngIf="danger?.rectifyCompleteImagesUrls">
                <div class="pic-col" *ngFor="let imgUrl of danger.problemImageUrls.split(',')">
                  <img src="{{imgUrl}}" alt="" (click)="openPreview(imgUrl)" />
                </div>
              </ng-container>
            </div> -->

            <!-- 处罚清单 -->
            <ion-list>
              <!--              <ion-item-sliding>-->
              <!--                <ion-item>-->
              <!-- <section
                class="c-form-inner has-fold danger-inner-box"
                *ngFor="let p of danger.punishesList"
              > -->
              <!--          展开 +active-->
              <div class="c-form-list active">
                <div class="list-item item-hd">
                  <!--  (click)="choosePunishLevel(p)" -->
                  <span class="item-label">处罚类型</span>
                  <div class="item-info">
                    <div class="item-txt c-grey-9">
                      限期整改
                    </div>
                    <i class="u-arrow-right"></i>
                  </div>
                </div>
                <!-- <div class="list-item" *ngIf="danger?.punishType===2">
                  <span class="item-label">处罚金额</span>
                  <div class="item-info">
                    <div class="item-txt">
                      <input
                        type="text"
                        placeholder="请输入处罚金额"
                        [(ngModel)]="danger.punishPrice"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <div class="list-item" *ngIf="[2,3,4,5,6].includes(danger?.punishType)">
                  <span class="item-label">处罚依据</span>
                  <div class="item-info">
                    <div class="item-txt">
                      <input
                        type="text"
                        placeholder="请输入处罚依据"
                        [(ngModel)]="danger.punishBasis"
                        disabled
                      />
                    </div>
                  </div>
                </div> -->
                <!-- <ng-container *ngIf="danger?.punishType===1"> -->
                <div class="list-item">
                  <span class="item-label">整改标准</span>
                  <div class="item-info">
                    <div class="item-txt">
                      <input
                        type="text"
                        placeholder="请输入整改标准"
                        [(ngModel)]="danger.rectifyStandard"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <div class="list-item">
                  <span class="item-label">整改时限</span>
                  <div class="item-info">
                    <div class="item-txt">
                      <input
                        type="text"
                        placeholder="请输入整改时限"
                        [(ngModel)]="danger.planFinishDate"
                        disabled
                      />
                      <!-- <ion-datetime
                        displayFormat="YYYY-MM-DD"
                        [(ngModel)]="danger.planFinishDate"
                        [cancelText]="'取消'"
                        [doneText]="'确定'"
                        disabled
                      ></ion-datetime> -->
                    </div>
                  </div>
                </div>
                <!-- <div class="list-item">
                    <span class="item-label">整改描述</span>
                    <div class="item-info">
                      <div class="item-txt">
                        <input
                          type="text"
                          placeholder="请输入整改描述"
                          [(ngModel)]="danger.rectifyCompleteDesc"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <span class="item-label">整改日期</span>
                    <div class="item-info">
                      <div class="item-txt">
                        <input
                          type="text"
                          placeholder="请输入整改日期"
                          [(ngModel)]="danger.rectifyCompleteDate"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <span class="item-label">整改日期</span>
                    <div class="item-info">
                      <div class="item-txt">
                        <input
                          type="text"
                          placeholder="请输入整改日期"
                          [(ngModel)]="danger.remark"
                        />
                      </div>
                    </div>
                  </div> -->
                <!-- </ng-container> -->
                <div class="list-item upload-pic">
                  <ng-container *ngIf="imgUrls">
                    <div class="pic-col" *ngFor="let imgUrl of imgUrls;let i=index">
                      <i class="del-icon" (click)="removeImg(i)"></i>
                      <img src="{{imgUrl}}" alt="" (click)="openPreview(imgUrl)" />
                    </div>
                  </ng-container>
                  <div class="pic-col">
                    <button class="add-pic-btn" (click)="cameraChoose()"></button>
                  </div>
                </div>
                <div class="list-item">
                  <span class="item-label">整改结果</span>
                  <div class="item-info">
                    <div class="item-txt">
                      <input
                        type="text"
                        placeholder="请输入整改结果"
                        [(ngModel)]="rectifyCompleteDesc"
                      />
                    </div>
                  </div>
                </div>
                <div class="list-item">
                  <button class="del-full-btn" (click)="finshPunish()">
                    整改完成
                  </button>
                </div>
              </div>
              <!-- </section> -->
              <!--                </ion-item>-->

              <!--                <ion-item-options side="right">-->
              <!--                  <button ion-button color="danger" (click)="removePunish(danger, p)">删除</button>-->
              <!--                </ion-item-options>-->
              <!--              </ion-item-sliding>-->
            </ion-list>
          </div>
        </section>
      </div>
    </div>
  </div>
</ion-content>
