<ion-header>
  <ion-navbar>
    <ion-title>企业整改审核</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="g-flex-main">
    <div class="g-flex-box">
      <div class="c-form-box">
        <h4 class="c-form-title"><span>问题</span></h4>
        <section class="c-form-inner has-fold">
          <!--          展开 +active-->
          <div class="c-form-list active">
            <!-- <div class="list-item item-hd">
              <span class="item-label">问题表现</span>
              <div class="item-info">
                <div class="item-txt">
                  <input
                    type="text"
                    placeholder="请输入问题表现"
                    [(ngModel)]="danger.problemDesc"
                    disabled
                  />
                </div>
              </div>
            </div> -->
            <div class="list-item item-hd">
              <span class="item-label">隐患内容</span>
              <div class="item-info">
                <div class="item-txt">
                  <input
                    type="text"
                    placeholder="请输入隐患内容"
                    [(ngModel)]="danger.remark"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="list-item">
              <span class="item-label">隐患等级</span>
              <div class="item-info">
                <div class="item-txt c-grey-9">{{danger.problemLevelLabel}}</div>
                <i class="u-arrow-right"></i>
              </div>
            </div>
            <div class="list-item upload-pic">
              <ng-container *ngIf="danger.problemImageUrls">
                <div class="pic-col" *ngFor="let imgUrl of danger.problemImageUrls.split(',')">
                  <img src="{{imgUrl}}" alt="" (click)="openPreview(imgUrl)" />
                </div>
              </ng-container>
            </div>

            <!-- 处罚清单 -->
            <ion-list>
              <!--              <ion-item-sliding>-->
              <!--                <ion-item>-->
              <section
                class="c-form-inner has-fold danger-inner-box"
                *ngFor="let p of danger.punishesList"
              >
                <!--          展开 +active-->
                <div class="c-form-list active">
                  <div class="list-item item-hd">
                    <!--  (click)="choosePunishLevel(p)" -->
                    <span class="item-label">处罚类型</span>
                    <div class="item-info">
                      <div class="item-txt c-grey-9">
                        {{p.punishTypeLabel == '' ? '请选择处罚类型' : p.punishTypeLabel}}
                      </div>
                      <i class="u-arrow-right"></i>
                    </div>
                  </div>
                  <!-- <div class="list-item">
                    <span class="item-label">处罚缘由</span>
                    <div class="item-info">
                      <div class="item-txt">
                        <input type="text" placeholder="请输入处罚缘由" [(ngModel)]="p.punishReason" disabled/>
                      </div>
                    </div>
                  </div> -->
                  <div class="list-item" *ngIf="p.punishType===4">
                    <span class="item-label">处罚金额</span>
                    <div class="item-info">
                      <div class="item-txt">
                        <input
                          type="text"
                          placeholder="请输入处罚金额"
                          [(ngModel)]="p.punishPrice"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="list-item" *ngIf="[1,3,4,5,6].includes(p.punishType)">
                    <span class="item-label">处罚依据</span>
                    <div class="item-info">
                      <div class="item-txt">
                        <input
                          type="text"
                          placeholder="请输入处罚依据"
                          [(ngModel)]="p.punishBasis"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <ng-container *ngIf="p.punishType===2">
                    <div class="list-item">
                      <span class="item-label">整改标准</span>
                      <div class="item-info">
                        <div class="item-txt">
                          <input
                            type="text"
                            placeholder="请输入整改标准"
                            [(ngModel)]="p.rectifyStandard"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div class="list-item">
                      <span class="item-label">整改时限</span>
                      <div class="item-info">
                        <div class="item-txt">
                          <ion-datetime
                            displayFormat="YYYY-MM-DD"
                            [(ngModel)]="p.rectifyPlanFinishDate"
                            [cancelText]="'取消'"
                            [doneText]="'确定'"
                            disabled
                          ></ion-datetime>
                        </div>
                      </div>
                    </div>
                    <div class="list-item">
                      <span class="item-label">整改描述</span>
                      <div class="item-info">
                        <div class="item-txt">
                          <input
                            type="text"
                            placeholder="请输入整改描述"
                            [(ngModel)]="p.rectifyCompleteDesc"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div class="list-item">
                      <span class="item-label">整改日期</span>
                      <div class="item-info">
                        <div class="item-txt">
                          <input
                            type="text"
                            placeholder="请输入整改日期"
                            [(ngModel)]="p.rectifyCompleteDate"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div class="list-item">
                      <span class="item-label">整改描述</span>
                      <div class="item-info">
                        <div class="item-txt">
                          <input type="text" placeholder="请输入整改描述" [(ngModel)]="p.remark" />
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div class="list-item upload-pic" *ngIf="p.rectifyCompleteImagesUrls">
                    <div
                      class="pic-col"
                      *ngFor="let imgUrl of p.rectifyCompleteImagesUrls.split(',')"
                    >
                      <img src="{{imgUrl}}" alt="" (click)="openPreview(imgUrl)" />
                    </div>
                  </div>
                  <div class="list-item">
                    <button class="del-full-btn" (click)="approvePunish(p)" *ngIf="!p.reviewDate">
                      审批通过
                    </button>
                  </div>
                </div>
              </section>
              <!--                </ion-item>-->

              <!--                <ion-item-options side="right">-->
              <!--                  <button ion-button color="danger" (click)="removePunish(danger, p)">删除</button>-->
              <!--                </ion-item-options>-->
              <!--              </ion-item-sliding>-->
            </ion-list>
          </div>
        </section>
      </div>
    </div>
  </div>
</ion-content>
