<ion-header>
  <ion-navbar>
    <ion-title>安全巡查</ion-title>
    <ion-buttons end>
      <button ion-button (click)="add()">
        新增
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">

  <div  style="text-align: center">
    <ion-spinner *ngIf="loading" color="primary" ></ion-spinner>
  </div>

  <dl class="check-group">
    <dd class="c-group-row"
        *ngFor="let task of tasks" (click)="openInspectDetail(task)">
      <div class="c-group-info">
        <h4 class="c-group-tit">{{task.enterpriseName}}</h4>
        <div class="check-time" *ngIf="task.operateDate != null">检查日期：{{task.operateDate | date : 'yyyy-MM-dd'}}</div>
      </div>
      <div class="c-group-count">
        <i class="check-status-icon" [class.unchecked]="task.status == 0"
           [class.unfix]="task.status == 1"
           [class.unconfirm]="task.status == 2"
           [class.finish]="task.status == 3"></i>
      </div>
    </dd>
  </dl>
</ion-content>
