<ion-header>
  <ion-navbar>
    <ion-title>检查任务</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <div  style="text-align: center">
    <ion-spinner *ngIf="loading" color="primary" ></ion-spinner>
  </div>

  <dl class="check-group">
    <dd class="c-group-row" *ngFor="let group of groups"
        (click)="openTaskChecks(group)">
      <h4 class="c-group-tit">{{ group.inspectTitle + ' ' + group.groupTitle }}</h4>
      <div class="c-group-count">
        ({{group.finished}}/{{group.total}})
        <i class="u-arrow-right"></i>
      </div>
    </dd>
  </dl>
</ion-content>
