<!--
  Generated template for the PunishListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>隐患检查</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <dd class="danger-list">
    <dl
      *ngFor="let item of dangers"
      class="danger-item"
      (click)="openDangerDetail(item.id,item.name)"
    >
      <div class="danger-title"><!-- {{item.name}} -->十黑阿萨德</div>

      <div class="danger-info">
        <span>名扬企业</span> <span class="danger-time">2020年8月6日 17:31:05</span>
      </div>
    </dl>
    <dl class="danger-item no-data" *ngIf="dangers?.length===0">暂无隐患</dl>
  </dd>
</ion-content>
