<!--
  Generated template for the PunishListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>隐患检查</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <dd class="danger-list">
    <dl
      *ngFor="let item of dangers"
      class="danger-item"
      [ngClass]="[!item?.rectifyCompleteDate?'unrectified':!item?.reviewer?'unfinished':'']"
      (click)="openDangerDetail(item)"
    >
      <div class="danger-title">{{item?.dangerDesc}}</div>

      <div class="danger-info">
        <span class="danger-enterprise">{{item?.enterpriseName}}</span>
        <span class="danger-time">{{item?.planFinishDate |date:'yyyy-MM-dd'}}</span>
      </div>
    </dl>
    <dl class="no-data" *ngIf="dangers?.length===0">暂无隐患</dl>
  </dd>
</ion-content>
