page-punish-list {
  .danger-list {
    .danger-item {
      position: relative;
      min-height: 4.4rem;
      padding: 1rem;
      margin-bottom: 1.5rem;
      background: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1) inset, 0 0 1rem rgba(17, 17, 17, 0.08);

      .danger-title {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: bolder;
        color: #000;
      }

      .danger-info {
        display: flex;
        font-size: 1.2rem;
        color: #999;
        .danger-enterprise {
          width: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .danger-time {
          float: right;
        }
      }
    }
    .unrectified::after {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      display: block;
      width: 5rem;
      height: 5rem;
      content: ' ';
      background: url('../../assets/imgs/unrectified.jpg') center / 100% no-repeat;
    }

    .unfinished::after {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      display: block;
      width: 5rem;
      height: 5rem;
      content: ' ';
      background: url('../../assets/imgs/unfinished.jpg') center / 100% no-repeat;
    }

    .no-data {
      position: relative;
      min-height: 4.4rem;
      padding: 1rem;
      margin-bottom: 1.5rem;
      background: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1) inset, 0 0 1rem rgba(17, 17, 17, 0.08);
    }
  }
}
