page-home {
.home-wrap{
}
  .h-home-hd{
    width: 100%;
    min-height: 23.4rem;
    padding: 4rem 0 0;
    box-sizing: border-box;
    background:url("../../assets/imgs/home_bg.png") no-repeat top center;
    background-size: 100% auto;
    .h-home-user{
      display: flex;
      align-items: center;
      padding: 0 1.6rem 1.8rem 2.4rem;
    }
    .h-user-face{
      width: 4rem;
      height: 4rem;
      flex-shrink: 0;
      margin-right: 2.1rem;
      border-radius: 50%;
      box-sizing: content-box;
      border: .6rem solid #4E81FF;
      box-shadow:  0 0 0 .8rem #2E6DFF;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .h-user-msg{
      color: #fff;
      font-size: 1.4rem;
      word-wrap: break-word;
      word-break: break-all;
    }
    .h-user-name{
      font-size: 1.8rem;
    }
    .h-home-enter{
      padding: 1rem;
    }
  }
  .h-finished-task{
    .d-finished-tit{
      font-size: 1.8rem;
      color: #000;
      padding: 0 2.9rem 1rem;
    }
  }
  .h-task-list{
    padding: 0 2rem;
    .h-task-item{
      display: flex;
      align-items: center;
      min-height: 4.4rem;
      padding: 1.6rem 2rem;
      margin-bottom: 2.6rem;
      background: #fff;
      border-radius: .5rem;
      box-shadow: 0 0 1rem rgba(255,255,255,.1) inset,0 0 1rem rgba(17,17,17,.08);
    }
    .h-task-status{
      width: 4.4rem;
      flex-shrink: 0;
      margin-right: 2.2rem;
    }
    .task-inform{
      flex: 1;
      min-width: 0;
    }
    .task-tit{
      color: #1D2027;
      font-size: 1.6rem;
      word-wrap: break-word;
      word-break: break-all;
    }
    .task-count{
      color: #8D9093;
      display: flex;
      flex-flow: row wrap;
      padding-top: .6rem;
      .t-count-col{
        width: 50%;
        box-sizing: border-box;
        &:nth-child(2n){
          padding-left: 1rem;
        }
      }
    }
    .c-blue{
      color: #225DE3;
    }
    .c-azure {
      color: #4CD1D9;
    }
    .c-red{
      color: #E05D63;
    }
    .task-status-ok{
      width: 4.4rem;
      height: 4.4rem;
      display: block;
      background: url("../../assets/imgs/ok.png") no-repeat center center;
      background-size: contain;
    }
  }
  .home-entrance{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 1.4rem 1rem;
    border-radius: 1rem;
    background: #fff;
    .enter-col{
      width: 25%;
      color: #585858;
      font-size: 1.2rem;
      text-align: center;
      padding: .8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow-x: hidden;
      em,i{
        font-style: normal;
      }
    }
    .enter-btn{
      width: 100%;
      display: block;
      color: #5c5c5c;
      font-size: 1.4rem;
      line-height: 1.5;
      padding: 0;
      background: transparent;
    }
    .enter-icon{
      position: relative;
      width: 5.6rem;
      height: 5.6rem;
      display: block;
      margin: 0 auto .5rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      &.task-icon{
        background-image: url("../../assets/imgs/task.png");
      }
      &.self-icon{
        background-image: url("../../assets/imgs/check.png");
      }
      &.exam-icon{
        background-image: url("../../assets/imgs/exam.png");
      }
      &.advice-icon{
        background-image: url("../../assets/imgs/feedback.png");
      }
    }
    ion-badge{
      position: absolute;
      top: -.6rem;
      left: 4.6rem;
      padding: 2px 5px;
      font-size: 1.2rem;
      box-shadow: 0 0 0 1px rgba(255,255,255,.8);
    }
  }
}
