<ion-content class="app-home">
  <div class="home-wrap">
    <div class="h-home-hd">
      <div class="h-home-user" (click)="openUserCenter()">
        <div class="h-user-face">
          <img *ngIf="!!user?.avatar" src="{{user?.avatar}}" alt="" />
          <img *ngIf="!user?.avatar" src="../../assets/imgs/face2.png" alt=""/>
        </div>
        <div class="h-user-msg">
          <div class="h-user-name">姓名：{{ user?.realName}}</div>
          <div class="h-user-area" *ngIf="user != null && user.deptDTO != null && user.deptDTO.areasName">
            管辖区域：{{ user?.deptDTO?.areasName}}
          </div>
          <div class="h-user-area" *ngIf="user != null && user.deptDTO != null && user.deptDTO.industryNames">
            管辖行业：{{ user?.deptDTO?.industryNames}}
          </div>
        </div>
      </div>
      <div class="h-home-enter">
        <dl class="home-entrance">
          <dd class="enter-col">
            <button class="enter-btn" (click)="openInspectCheckGroup()">
              <i class="enter-icon task-icon">
                <ion-badge color="danger" *ngIf="taskUnfinishedCnt1 > 0">{{taskUnfinishedCnt1}}</ion-badge>
              </i>
              <div class="enter-tit">检查任务</div>
            </button>
          </dd>
          <dd class="enter-col">
            <button class="enter-btn" (click)="openSelfCheckGroup()">
              <i class="enter-icon self-icon">
                <ion-badge color="danger" *ngIf="taskUnfinishedCnt2 > 0">{{taskUnfinishedCnt2}}</ion-badge>
              </i>
              <div class="enter-tit">企业自检</div>
            </button>
          </dd>
          <dd class="enter-col">
            <button class="enter-btn" (click)="openEnterprise()">
              <i class="enter-icon exam-icon">
                <!--              <ion-badge color="danger">6</ion-badge>-->
              </i>
              <div class="enter-tit">企业信息</div>
            </button>
          </dd>
          <dd class="enter-col">
            <button class="enter-btn" (click)="openAdvice()">
              <i class="enter-icon advice-icon">
                <!--              <ion-badge color="danger">6</ion-badge>-->
              </i>
              <div class="enter-tit">意见反馈</div>
            </button>
          </dd>
        </dl>
      </div>
    </div>

    <div class="h-finished-task" *ngIf="dangers && dangers.length > 0">
      <div class="d-finished-tit">待审批整改</div>
      <dl class="h-task-list">
        <dd class="h-task-item" *ngFor="let d of dangers" (click)="openDangerApprove(d)">
          <div class="h-task-status">
            <i class="task-status-ok"></i>
          </div>
          <div class="task-inform">
            <div class="task-tit">{{d.problemDesc}}</div>
            <div class="task-count">
              <div class="t-count-col">
                隐患内容：
                <span class="c-blue">{{d.remark}}</span>
              </div>
            </div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="h-finished-task">
      <div class="d-finished-tit">待完成任务</div>
      <dl class="h-task-list" *ngIf="!groups || groups.length == 0">
        <dd class="h-task-item">
          <div class="h-task-status">
            <i class="task-status-ok"></i>
          </div>
          <div class="task-inform">
            <div class="task-tit">暂无任务</div>
            <div class="task-count">
              <div class="t-count-col">
                任务总数：
                <span class="c-blue">0</span>
              </div>
              <div class="t-count-col">
                任务剩余：
                <span class="c-azure">0</span>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="h-task-list">
        <dd class="h-task-item" *ngFor="let g of groups" (click)="openTaskChecks(g)">
          <div class="h-task-status">
            <i class="task-progress-icon"
               [class.p-75]="getFP(g) >= 75"
               [class.p-50]="getFP(g) >= 50 && getFP(g) < 75"
               [class.p-25]="getFP(g) >= 25 && getFP(g) < 50"
               [class.p-0]="getFP(g) < 25"
               *ngIf="g.total - g.finished > 0">
              <em><span class="p-txt">{{getFP(g)}}</span></em>
            </i>
            <i class="task-status-ok" *ngIf="g.total - g.finished <= 0"></i>
          </div>
          <div class="task-inform">
            <div class="task-tit">{{g.taskTitle}}</div>
            <div class="task-count">
              <div class="t-count-col">
                任务总数：
                <span class="c-blue">{{g.total}}</span>
              </div>
              <div class="t-count-col">
                任务剩余：
                <span class="c-azure">{{g.total - g.finished > 0 ? g.total - g.finished : 0}}</span>
              </div>
            </div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</ion-content>
