page-home {
.home-wrap{
}
  .home-head{
    position: relative;
    min-height: 9.6rem;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 9.6rem;
      background: #137FFE url("../../assets/imgs/hd.png") no-repeat top center;
      background-size: 100% 100%;
    }
  }
  .home-card{
    position: relative;
    z-index: 2;
    padding: 0 1rem 1.5rem;
    &-inner{
      position: relative;
      width: 100%;
      min-height: 17.9rem;
      margin: 0 auto;
      padding: 2.5rem 2rem 1.5rem;
      box-sizing: border-box;
      background: url("../../assets/imgs/card.png") no-repeat center center;
      background-size: 100% 100%;
      box-shadow: 0 0 1rem rgba(17,17,17,.2);
    }
    .exit-btn{
      position: absolute;
      right: 0;
      top: 2.5rem;
      color: #e99120;
      font-size: 1.4rem;
      line-height: 2rem;
      padding: 0 .9rem 0 1.3rem;
      background: #ffdf86;
      border-radius: 2rem 0 0 2rem;
    }
    .user-name{
      display: flex;
      align-items: center;
      color: #999;
      line-height: 1;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      b{
        color: #333;
        font-size: 2.4rem;
      }
      .name-line{
        color: #e6e6e6;
        padding: 0 .5rem;
      }
    }
    .card-column{
      display: flex;
      flex-flow: row wrap;
    }
    .card-col{
      width: 50%;
      flex-shrink: 0;
      color: #585858;
      font-size: 1.2rem;
      word-break: break-all;
      word-wrap: break-word;
      padding: .7rem 0;
    }
  }
  .home-entrance{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 .5rem;
    .enter-col{
      width: 50%;
      color: #585858;
      font-size: 1.2rem;
      text-align: center;
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow-x: hidden;
      &:first-child{
        .enter-btn{
          background: #EDEFFF;
        }
      }
      &:nth-child(2){
        .enter-btn{
          background: #FFFDED;
        }
      }
      &:nth-child(3){
        .enter-btn{
          background: #FFF3F7;
        }
      }
      &:nth-child(4){
        .enter-btn{
          background: #F6F2FF;
        }
      }
      em,i{
        font-style: normal;
      }
    }
    .enter-btn{
      width: 100%;
      height: 17rem;
      display: block;
      color: #585858;
      font-size: 1.2rem;
      line-height: 1.2;
      border-radius: .5rem;
    }
    .enter-icon{
      position: relative;
      width: 7.8rem;
      height: 7.8rem;
      display: block;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      &.task-icon{
        background-image: url("../../assets/imgs/task.png");
      }
      &.self-icon{
        background-image: url("../../assets/imgs/self.png");
      }
      &.exam-icon{
        background-image: url("../../assets/imgs/exam.png");
      }
      &.advice-icon{
        background-image: url("../../assets/imgs/advice.png");
      }
    }
    ion-badge{
      position: absolute;
      top: 1.4rem;
      left: 4.6rem;
      padding: 2px 5px;
      font-size: 1.2rem;
      box-shadow: 0 0 0 1px rgba(255,255,255,.8);
    }
  }
}
