<!--
  Generated template for the InspectTaskCheckDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>检查清单</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <div class="g-flex-main">
    <div class="check-detail-hd">{{task.inspectTitle + ' ' + task.groupTitle}}</div>
    <div style="text-align: center">
      <ion-spinner *ngIf="loading" color="primary" ></ion-spinner>
    </div>
    <div class="check-form g-flex-box" *ngIf="inspect">
      <div class="c-form-box" *ngFor="let item of inspect.items">
        <h4 class="c-form-title"><span>{{item.title}}</span></h4>
        <!-- 选项 -->
        <ng-container *ngIf="item.title != '其他内容'">
          <section class="c-form-inner" *ngFor="let subItem of item.subItems; let i = index">
            <div class="c-form-tit">{{i+1}}.{{subItem.title}}</div>
            <div class="c-form-inform">
              <!-- 是，否 -->
              <dl class="c-form-choose" *ngIf="subItem.items == '是，否'">
                <dd class="choose-desc" *ngFor="let c of subItem.items.split('，')">
                  <div class="c-desc-txt">{{c}}</div>
                  <ion-checkbox mode="md" [checked]="subItem.checked == c"
                                (click)="checkItem(subItem, c)"></ion-checkbox>
                </dd>
              </dl>
              <!-- 【xxx（1，2，3）】【yyy（1，2，3）】-->
              <ng-container *ngIf="subItem.items && subItem.items != '' && subItem.items != '是，否'">
                <dl class="c-form-choose">
                  <ng-container *ngFor="let c of getItems(subItem.items)">
                    <dd class="choose-desc" >
                      <div class="c-desc-txt" style="font-weight: bold;">{{c.title}}</div>
                    </dd>
                    <dd class="choose-desc" *ngFor="let d of c.items">
                      <div class="c-desc-txt">{{d}}</div>
                      <ion-checkbox mode="md"
                                    [checked]="isChecked(subItem, c.title + '-' + d)"
                                    (click)="checkItemM(subItem, c.title + '-' + d)"></ion-checkbox>
                    </dd>
                  </ng-container>
                </dl>
              </ng-container>
              <!-- 其他 -->

              <div class="c-form-remark">
                <div class="remark-info">
                  <span class="c-label">备注：</span>
                  <div class="remark-txt">
                    <input type="text" placeholder="请输入备注" [(ngModel)]="subItem.remark"/>
                  </div>
                </div>
                <button class="photo-btn" ion-button color="primary" outline>
                  <ion-icon slot="start" name="camera"></ion-icon>
                  拍照
                </button>
              </div>
              <div class="upload-pic" *ngIf="subItem.imageUrls">
                <div class="pic-col">
                  <i class="del-icon"></i>
                  <img src="../../assets/imgs/1.jpg" alt=""/>
                </div>
                <div class="pic-col">
                  <i class="del-icon"></i>
                  <img src="../../assets/imgs/1.jpg" alt=""/>
                </div>
                <button ion-button outline class="add-pic-btn">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </button>
              </div>
            </div>
          </section>
        </ng-container>
        <section class="c-form-inner" *ngIf="item.title == '其他内容'">
          <div class="c-form-tit">请填写其他内容</div>
          <div class="c-form-inform">
            <div class="c-form-remark">
              <div class="remark-info">
                <span class="c-label">备注：</span>
                <div class="remark-txt">
                  <input type="text" placeholder="请输入其他内容" [(ngModel)]="item.subItems[0].remark"/>
                </div>
              </div>
              <button class="photo-btn" ion-button color="primary" outline>
                <ion-icon slot="start" name="camera"></ion-icon>
                拍照
              </button>
            </div>
            <div class="upload-pic" *ngIf="item.subItems[0].imageUrls">
              <div class="pic-col">
                <i class="del-icon"></i>
                <img src="../../assets/imgs/1.jpg" alt=""/>
              </div>
              <div class="pic-col">
                <i class="del-icon"></i>
                <img src="../../assets/imgs/1.jpg" alt=""/>
              </div>
              <button ion-button outline class="add-pic-btn">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </button>
            </div>
          </div>
        </section>
      </div>
      <div class="c-form-box">
        <h4 class="c-form-title"><span>隐患等级</span></h4>
        <section class="c-form-inner has-fold">
<!--          展开 +active-->
          <div class="c-form-list active">
            <div class="list-item item-hd">
              <span class="item-label">等级</span>
              <div class="item-info">
                <div class="item-txt c-grey-9">请选择</div>
                <i class="u-arrow-right"></i>
              </div>
            </div>
            <div class="list-item-box fold-box">
              <div class="list-item">
                <span class="item-label">隐患内容</span>
                <div class="item-info">
                  <div class="item-txt">
                    <input type="text" placeholder="请输入隐患内容"/>
                  </div>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">整改措施</span>
                <div class="item-info">
                  <div class="item-txt">
                    <input type="text" placeholder="请输入整改措施"/>
                  </div>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">整改时限</span>
                <div class="item-info">
                  <div class="item-txt c-grey-9">请选择时间</div>
                  <i class="u-arrow-right"></i>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">备注</span>
                <div class="item-info">
                  <div class="item-txt">
                    <textarea class="item-textarea" placeholder="请填写备注信息"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="c-form-box">
        <section class="c-form-inner has-fold">
          <!--        展开 +active-->
          <div class="c-form-list ">
            <div class="list-item item-hd">
              <span class="item-label">整治意见</span>
              <div class="item-info">
                <i class="u-arrow-down"></i>
              </div>
            </div>
            <div class="list-item-box fold-box">
              <div class="list-item">
                <span class="item-label">意见</span>
                <div class="item-info">
                  <div class="item-txt c-grey-9">请选择</div>
                  <i class="u-arrow-right"></i>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">实施部门</span>
                <div class="item-info">
                  <div class="item-txt">
                    <input type="text" placeholder="请输入实施部门"/>
                  </div>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">具体事由</span>
                <div class="item-info">
                  <div class="item-txt">
                    <input type="text" placeholder="请输入具体事由"/>
                  </div>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">时间</span>
                <div class="item-info">
                  <div class="item-txt c-grey-9">请选择时间</div>
                  <i class="u-arrow-right"></i>
                </div>
              </div>
              <div class="list-item">
                <span class="item-label">备注</span>
                <div class="item-info">
                  <div class="item-txt">
                    <textarea class="item-textarea" placeholder="请填写备注信息"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <button class="submit-button">提交</button>
  </div>

</ion-content>
