page-inspect-task-check-detail {
  %bottom-line,
  %top-line{
    &:before {
      position: absolute;
      right: 0;
      z-index: 2;
      content: "";
      width: 100%;
      height: 1px;
      border-top: 1px solid #E6E6E6;
      transform: scaleY(.5);
      transform-origin: 0 0;
    }
  }
  %bottom-line{
    &:before{
      bottom: 0;
    }
  }
  %top-line{
    &:before{
      top: 0;
    }
  }
  .check-detail-hd{
    color: #137FFE;
    font-size: 1.4rem;
    text-align: center;
    background: #fff;
    padding: 1.2rem 1rem;
  }
  .check-form{
    padding-top: 1rem;
  }
  .c-form-box{
    padding: 0 1.5rem;
  }
  .c-form-inner{
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    margin-bottom: 1rem;
    &.has-fold{
      padding: .5rem 1.5rem;
    }
  }
  .c-form-title{
    position: relative;
    color: #FFA703;
    font-size: 1.4rem;
    text-align: center;
    font-weight: normal;
    padding: 1rem 1rem 1.5rem;
    span{
      position: relative;
      z-index: 2;
    }
    &:before{
      position: absolute;
      left: 50%;
      bottom: 1.2rem;
      content: "";
      width: 9.6rem;
      height: .9rem;
      margin-left: -4.8rem;
      background: url("../../assets/imgs/line.png") no-repeat center center;
      background-size: contain;
    }
  }
  .c-form-tit{
    position: relative;
    color: #444;
    font-size: 1.6rem;
    word-break: break-all;
    word-wrap: break-word;
    padding-bottom: 1.5rem;
    @extend %bottom-line;
  }
  .c-form-choose{
    color: #666;
    padding: .7rem 0;
  }
  .choose-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;
    .c-desc-txt{
      min-width: 0;
      flex: 1;
    }
  }
  .is-radio-icon{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background: url("../../assets/imgs/radio.png") no-repeat center center;
    background-size: contain;
    &.active{
      background-image: url("../../assets/imgs/radio_checked.png");
    }
  }
  .is-check-icon{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background: url("../../assets/imgs/checkbox.png") no-repeat center center;
    background-size: contain;
    &.active{
      background-image: url("../../assets/imgs/checkbox_active.png");
    }
  }
  .c-form-inform{
    font-size: 1.6rem;
  }
  .c-form-remark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .7rem;
    .remark-info{
      flex: 1;
      min-width: 0;
      display: flex;
      align-items: center;
    }
    .c-label{
      color: #999;
    }
    .remark-txt{
      color: #333;
      flex: 1;
      min-width: 0;
      margin-right: 1rem;
    }
    textarea{
      width: 100%;
      display: block;
      background: transparent;
      border: 0;
      resize: none;
      height: 2rem;
      line-height: 2rem;
      padding: 0;
      margin: 0;
    }
  }
  .photo-btn{
    padding: .2rem .9rem;
    font-size: 1.3rem;
    height: auto;
    color: #137FFE;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #137FFE;
    border-radius: .5rem;
    ion-icon{
      font-size: 1.7rem;
      margin-right: .5rem;
    }
  }
  .photo-icon{
    width: 1.4rem;
    height: 1.2rem;
    display: inline-block;
    margin-right: .5rem;
    background: url("../../assets/imgs/photo.png") no-repeat center center;
    background-size: contain;
  }

  .upload-pic{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    @extend  %top-line;
  }
  .pic-col{
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: .5rem;
    overflow: hidden;
    margin-right: .8rem;
    margin-bottom: .8rem;
    border:1px solid #EDEDED;
    box-sizing: content-box;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    .del-icon{
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      width: 1.7rem;
      height: 1.7rem;
      display: inline-block;
      background: url("../../assets/imgs/del.png") no-repeat center center;
      background-size: contain;
    }
  }
  .add-pic-btn{
    width: 6rem;
    height: 6rem;
    border-radius: .5rem;
    overflow: hidden;
    margin: 0 .8rem .8rem 0;
    border:1px solid #EDEDED;
    ion-icon{
      color: #ededed;
      font-size: 4rem;
      font-weight: bold;
    }
  }
  .checkbox-md .checkbox-icon{
    border-width: 1px;
    border-color: #137FFE;
  }
  ::-webkit-input-placeholder{
    color: #999;
    font-size: 1.6rem;
  }

  :-moz-placeholder {
    color: #999;
    font-size: 1.6rem;
  }

  ::-moz-placeholder{
    color: #999;
    font-size: 1.6rem;
  }

  :-ms-input-placeholder {
    color: #999;
    font-size: 1.6rem;
  }
  .u-arrow-right,
  .u-arrow-down{
    position: relative;
    margin-right: .2rem;
    width: .9rem;
    height: .9rem;
    color: #999;
    margin-left: .5rem;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px 0 0 1px;
  }
  .u-arrow-right{
    top: -.1rem;
    transform: rotate(-225deg);
  }
  .u-arrow-down{
    top: -.12rem;
    transform: rotate(-135deg);
  }
  .active .u-arrow-down{
    top: .2rem;
    transform: rotate(45deg);
  }
 .c-form-list{
   font-size: 1.6rem;
   .list-item{
     position: relative;
     display: flex;
     line-height: 2.4rem;
     padding: 1.5rem 0 1rem;
     @extend %top-line;
     .u-arrow-right,
     .u-arrow-down{
       margin-left: auto;
     }
    &.item-hd{
      &:before{
        display: none;
      }
    }
   }
   &.active{
     .fold-box{
       display: block;
     }
   }
   .fold-box{
     display: none;
   }
   .item-label{
     flex-shrink: 0;
     width: 8rem;
     margin-right: .5rem;
   }
   .item-info{
     flex: 1;
     min-width: 0;
     display: flex;
     align-items: center;
     .item-txt{
       flex: 1;
       min-width: 0;
     }
     input{
       display: block;
       width: 100%;
       border: 0;
       padding: 0;
       margin: 0;
     }
     textarea{
       padding: 0;
       margin: 0;
       border: 0;
       width: 100%;
       min-height: 4.8rem;
       display: block;
       resize: none;
     }
   }
 }
  .u-hidden{
    display: none;
  }
}
