<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-list>
        <ion-item-sliding>
          <ion-item>
            处罚1
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger">删除</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>处罚类型：xxx</div>
    <div>处罚缘由：xxx</div>
    <div>处罚金额：xxx</div>
    <div>处罚依据：xxx</div>
    <div>整改标准：xxx</div>
    <div>整改期限：xxx</div>
  </ion-card-content>
</ion-card>
