<ion-header>
  <ion-navbar>
    <ion-title>{{ (group.inspectTitle ? group.inspectTitle : '') + ' ' + group.groupTitle }}({{group.finished}}/{{group.total}})</ion-title>
  </ion-navbar>
  <ion-toolbar class="task-select-bar">
    <ion-buttons class="select-btn" slot="start">
      <ion-select placeholder="区域"
                  (ionChange)="getTaskChecks()"
                  [(ngModel)]="selectedArea"
                  [cancelText]="'取消'" [okText]="'确定'">
        <ion-option *ngFor="let item of areas" [value]="item.dictValue">{{item.dictLabel}}</ion-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons class="select-btn" slot="end">
      <ion-select class="ico-select-txt" placeholder="行业"
                  (ionChange)="getTaskChecks()"
                  [(ngModel)]="selectedIndustry"
                  [cancelText]="'取消'" [okText]="'确定'">
        <ion-option *ngFor="let item of industries" [value]="item.dictValue">{{item.dictLabel}}</ion-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-grey">

  <div  style="text-align: center">
    <ion-spinner *ngIf="loading" color="primary" ></ion-spinner>
  </div>

  <dl class="check-group">
    <dd class="c-group-row"
        *ngFor="let task of tasks" (click)="openInspectDetail(task)">
      <div class="c-group-info">
        <h4 class="c-group-tit">{{task.enterpriseName}}</h4>
        <div class="check-time" *ngIf="task.operateDate != null">检查日期：{{task.operateDate | date : 'yyyy-MM-dd'}}</div>
      </div>
      <div class="c-group-count">
        <i class="is-check-icon" [class.checked]="task.operateDate != null"></i>
      </div>
    </dd>
  </dl>
</ion-content>
