<ion-header>
  <ion-navbar>
    <ion-title>{{ group.inspectTitle + ' ' + group.groupTitle }}({{group.finished}}/{{group.total}})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">

  <div  style="text-align: center">
    <ion-spinner *ngIf="loading" color="primary" ></ion-spinner>
  </div>

  <dl class="check-group">
    <dd class="c-group-row" *ngFor="let task of tasks">
      <div class="c-group-info">
        <h4 class="c-group-tit">{{task.enterpriseName}}</h4>
        <div class="check-time" *ngIf="task.operateDate != null">检查日期：{{task.operateDate}}</div>
      </div>
      <div class="c-group-count">
        <i class="is-check-icon" [class.checked]="task.operateDate != null"></i>
      </div>
    </dd>
  </dl>
</ion-content>
