<ion-header>
  <ion-navbar>
    <ion-title>个人中心</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <div class="u-center-hd">
    <div class="uc-face" (click)="cameraChoose()">
      <img *ngIf="!!user?.avatar" src="{{user?.avatar}}" alt="" />
      <img *ngIf="!user?.avatar" src="../../assets/imgs/face2.png" alt=""/>
    </div>
    <div class="uc-msg">
      <div class="uc-name">姓名：{{ user?.realName}}</div>
      <div class="uc-area">
        部门：{{ user?.deptDTO?.name }}
      </div>
    </div>
  </div>
  <div class="u-center-card">
    <dl class="card-column">
      <dd class="card-col">
        <i class="uc-icon yellow-icon"></i>
        <div class="card-col-info">职务：{{ user?.duty}}</div>
      </dd>
      <dd class="card-col">
        <i class="uc-icon green-icon"></i>
        <div class="card-col-info">检查区域：{{ user != null && user.deptDTO != null && user.deptDTO.areasName ? user?.deptDTO.areasName : '全部' }}</div>
      </dd>
      <dd class="card-col">
        <i class="uc-icon blue-icon"></i>
        <div class="card-col-info">检查行业：{{ user != null && user.deptDTO != null && user.deptDTO.industryNames ? user?.deptDTO.industryNames : '全部'}}</div>
      </dd>
      <dd class="card-col">
        <i class="uc-icon yellow-icon"></i>
        <div class="card-col-info">检查公司：{{ user != null && user.deptDTO != null && user.deptDTO.enterprises ? user?.deptDTO.enterprises : '全部' }}</div>
      </dd>
      <dd class="card-col">
        <i class="uc-icon red-icon"></i>
        <div class="card-col-info">手机：{{ user?.mobile}}</div>
      </dd>
    </dl>
    <button class="uc-exit-btn c" (click)="changePsd()">修改密码</button>
    <button class="uc-exit-btn" (click)="logout()">退出</button>
  </div>
</ion-content>
