<ion-header>
  <ion-navbar>
    <ion-title>企业搜索</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="key"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div  style="text-align: center">
    <ion-spinner *ngIf="loading" color="primary" ></ion-spinner>
  </div>

  <dl class="check-group">
    <dd class="c-group-row"
        *ngFor="let enterprise of enterprises">
      <div class="c-group-info" (click)="choose(enterprise)">
        <h4 class="c-group-tit">{{enterprise.name}}</h4>
        <div class="check-time">{{enterprise.address}}</div>
      </div>
    </dd>
  </dl>
</ion-content>
